@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Quattrocento", Arial, Geneva, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.hero {
  width: 100%;
}

.parallax {
  /* The image used */
  /* background-image: url("beach_large.jpg"); */
  background-image: url("beach_large.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cold {
  background-image: url("https://preview.redd.it/a4iybbx0aafy.jpg?width=960&crop=smart&auto=webp&s=f83674c85240665610a49ffbc45eb09e01f88833");
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-left: 2.5%;
}

ul {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

li {
  list-style-type: none;
  margin: 20px 20px 0 20px;
}

#iconClicker {
  color: white;
}

h1 {
  font-family: "Oswald", Sans-Serif;
  font-size: 48px;
  color: rgba(0, 0, 0, 1);
}

#h1-container {
  margin-top: 10px;
  margin-bottom: 4em;
  padding: 3%;
  background-color: rgba(255, 198, 1, 0.8);
}

#body-container {
  margin-top: 10px;
  margin-bottom: 4em;
  padding: 3%;
  background-color: rgba(14, 93, 195, 0.7);
  color: white;
}

.results-section {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-bottom: 2em;
  padding: 3%;
  min-height: 30px;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  font-family: "Quattrocento", Serif;
  font-size: 16px;
}

.ui.card,
.ui.cards > .card {
  background: rgba(255, 255, 255, 0.5) !important;
}

span {
  color: slategray;
}

@media (min-width: 550px) {
  .results {
    justify-content: space-evenly;
  }

  /* .wrapper {
      width: 97%;
      max-width: 767px;
  }
  div.row {
    padding: 0 2em;
  }
  .heading {
    background: url(../img/header-850.jpg) no-repeat;
    height: 130px;
  }
  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  nav a {
      padding: 0em 1em 0em 1em;
  }
  .floatleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  .floatright {
    float: right;
    margin: 0 0 1em 1em;
  }
  .gallery li {
    flex: 0 0 50%;
  }
  [class*='col-']{
    margin-left: 4%;
    margin-right: 0%;
  }
  .col-1-2,
  .col-2,
  [class*="sidebar"] {
    flex: 0 0 44%; 
  }
  .col-1-4,
  .col-3,
  .col-4 {
    flex: 0 0 92%;
  }
  .reverse [class*='col-'] {
    margin-left: 0%;
    margin-right: 4%;
  } */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
  /* .wrapper {
      width: 97%;
      max-width: 1200px;
      float: none;
  }
  h2 {
    font-size: 3em;
    border-bottom: 2px dotted #c80060;
  }
  h3 {
    font-size: 2em;
  }
  .heading {
    background: url(../img/header-1200.jpg) no-repeat;
    height: 183px;
  }
  div.row {
    padding: 0;
  }
  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  nav a {
      padding: 0em 1em 0em 1em;
  }
  .gallery  li {
    flex: 0 0 33%;
  }
  .col-1-2,
  .col-1-4 {
    flex: 0 0 20%;
  }
  .col-2,
  .col-2-4 {
    flex: 0 0 44%;
  }
  .col-3 {
    flex: 0 0 68%;
  }
  .col-4 {
    flex: 0 0 92%;
  }
  [class*="sidebar"] {
    flex: 0 0 100%;
  }
  .order-first {
    order: 1;
  } 
  .order-second {
    order: 2;
  }
  .order-third {
    order: 3;
  }
  .order-fourth {
    order: 4;
  } */
}
